Repository spacetelescope/stwcs, pull requests merged in 2020-06, with the labels that each got.

#111 Add logic to ignore updating header with the same WCS from the database
  CHANGES.rst
  stwcs/updatewcs/astrometry_utils.py
  stwcs/wcsutil/headerlet.py
Labels: astrometry_db, bug

#131 Do not add trailing spaces to WCS header keywords
  CHANGES.rst
  stwcs/wcsutil/altwcs.py
  stwcs/wcsutil/mosaic.py
  stwcs/wcsutil/wcscorr.py
Labels: bug

#132 Code improvement in AltWCS
  setup.py
  stwcs/wcsutil/altwcs.py
Labels: altwcs, enhancement

#136 Fix a bug in the AltWCS code
  stwcs/wcsutil/altwcs.py
Labels: altwcs, bug

#137 Fix a crash in tweakreg due to recent code changes
  stwcs/wcsutil/altwcs.py
Labels: altwcs, bug

#127 Add and preserve existing WCS comments
  .gitignore
  CHANGES.rst
  stwcs/updatewcs/corrections.py
  stwcs/updatewcs/det2im.py
  stwcs/updatewcs/npol.py
  stwcs/wcsutil/altwcs.py
  stwcs/wcsutil/hstwcs.py
Labels: enhancement

#138 Fix bug in convertAltWCS - old key modified
  stwcs/wcsutil/altwcs.py
Labels: altwcs, bug, no change log entry needed

#141 Do not archive non-altwcs specific keywords
  CHANGES.rst
  stwcs/wcsutil/altwcs.py
Labels: altwcs, bug, enhancement

#143 Add comment string to WCSNAMEa header keywords
  CHANGES.rst
  stwcs/updatewcs/__init__.py
  stwcs/wcsutil/headerlet.py
  stwcs/wcsutil/hstwcs.py
Labels: altwcs, enhancement

#135 Archive and restore non-standard WCS-related keywords
  CHANGES.rst
  stwcs/wcsutil/altwcs.py
Labels: altwcs, enhancement
